
<h1>Book Lists</h1>

<ul>
  <% @events.each do |e| %>
    
    <li>
      <%= e.name %>
      <%= link_to "Show & Edit", event_path(e) %>
      
      <%= link_to "Delete", event_path(e), :method => :delete %>
    </li>


  <% end %>
</ul>



<%= link_to "New",new_event_path %>